.wrapper {
  background: linear-gradient(180deg, rgb(255, 255, 255) 15.471%, rgb(221, 233, 248) 61.023%);

  height: 100%;
  display: flex;
  flex-flow: column;
}

.wallet {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;

  &__image {
    display: grid;
    place-items: center;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: rgb(20, 112, 245);
    }
  }

  &__info {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  &__name {
    color: rgb(25, 26, 29);
    font-size: 1rem;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.43px;
  }

  &__balance {
    color: rgb(142, 142, 147);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.15px;
  }
}

.field {
  padding-inline: 1rem;
  margin-top: 0.5rem;

  display: grid;
  grid-template-columns: 2.5rem 1fr 2.5rem;
  align-items: center;

  &__button-exchange {
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;

    border: 1px solid rgba(20, 112, 245, 0.08);
    border-radius: 0.875rem;

    svg {
      flex-shrink: 0;
      width: 1.5rem;
      height: 1.5rem;
      color: rgb(20, 112, 245);
    }
  }

  &__center {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
  }

  &__input {
    font-size: 2rem;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.26px;
    text-align: center;

    width: 100%;
    outline: none;
    border: none;
    background: none;
  }

  &__conversion {
    color: rgb(142, 142, 147);
    font-size: 1rem;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.43px;
  }

  &__button-max {
    width: 2.5rem;
    height: 2.5rem;

    display: grid;
    place-items: center;

    color: rgb(20, 112, 245);
    font-size: 1rem;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.43px;

    border: 1px solid rgba(20, 112, 245, 0.08);
    border-radius: 0.875rem;

    &.disabled {
      opacity: .7;
    }
  }
}

.tabs {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  padding: 1rem;
  width: 100vw;
  overflow-x: auto;

  &__item {
    padding: 0.375rem 0.75rem;
    background: #fff;
    border-radius: 0.5rem;

    white-space: nowrap;

    color: rgb(25, 26, 29);
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.43px;
  }
}

.actions {
  margin-top: auto;
  margin-bottom: 0;
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr;
}


.invalid_feedback {
  color: #e74c3c;
  padding-inline: 1rem;
  text-align: center;
}

.default_feedback {
  color: #000;
  padding-inline: 1.7rem;
  text-align: left;
}

