.wrapper {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.banner {
	margin-inline: 1rem;
	margin-block-start: 1rem;
	padding: 1rem;
	position: relative;

	border-radius: 0.75rem;
	background: #1381e7;

	&__title {
		color: #fff;
		font-size: 1.3125rem; /* 21px */
		font-weight: 700;
		line-height: normal;
	}

	&__subtitle,
	&__version {
		margin-top: 0.25rem;

		color: rgba(255, 255, 255, 0.9);
		font-size: 1rem;
		font-weight: 500;
		line-height: 18px; /* 112.5% */
	}

	&__version {
		margin-block-start: 1.875rem;
	}

	&__image {
			position: absolute;
			right: 1rem;
			top: 50%;
			transform: translateY(-50%);
			width: 8.35rem;
			object-fit: contain;
			height: 6.9rem;
			padding: 0.5rem;
			border-radius: 1rem;
			flex-shrink: 0;
			background: #fff;
	}
}

.nav {
	margin-block-start: 1rem;
	margin-inline: 1rem;
	padding-bottom: 0.3125rem;

	&__list {
		border-radius: 0.75rem;
		background: #f0f1f7;

		display: flex;
		align-items: center;

		overflow-x: auto;
		list-style: none;
	}

	&__button {
		padding: 0.75rem 1rem;

		border-radius: 0.75rem;

		color: #404040;
		font-size: 0.875rem;
		font-weight: 500;
		line-height: normal;

		transition: 200ms ease;

		&.active {
			color: #fff;
			background: #1381e7;
		}
	}
}

.cards {
	margin-top: 0.3125rem;
	padding-inline: 1rem;

	&__list {
		list-style-type: none;
		display: flex;
		flex-flow: column;
		row-gap: .625rem;
	}
}

.game-card {
	text-decoration: none;
  display: grid;
	align-items: center;
	grid-template-columns: 3.875rem 1fr auto;
	column-gap: 0.625rem;

  cursor: pointer;

	&__image {
    width: 3.875rem;
    height: 3.875rem;
    
    img {
      border-radius: .5rem;
      aspect-ratio: 1 / 1;
      width: 100%;
      height: 100%;
		}
	}

	&__info {
		padding-block: 0.5rem;

		display: flex;
		flex-flow: column;
	}

	&__title {
		color: #1a1a1a;
		font-size: 1rem;
		font-weight: 600;
		line-height: normal;
	}

	&__description {
		color: #404040;
		font-size: 0.875rem; /* 11px */
		font-weight: 500;
		line-height: normal;
	}

	&__button {
		width: 0.75rem;
		height: 0.75rem;
		display: grid;
		place-items: center;
	}

	&__button svg {
		color: #666;
		flex-shrink: 0;
		width: inherit;
		height: inherit;
	}
}

.footer {
	padding-top: 2.5rem;
  margin-top: auto;
  margin-bottom: 0;

	&__links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 2.5rem;
		row-gap: 1rem;
	}

	&__link {
		display: flex;
		align-items: center;
		column-gap: 0.625rem;

		color: #1381e7;
		font-size: 0.875rem;
		font-weight: 600;
		line-height: normal;
	}

	&__cp {
		margin-top: 1.25rem;

		color: #666;
		text-align: center;
		font-size: 0.875rem;
		font-weight: 400;
		line-height: normal;
	}
}
